
#carouselExampleIndicators img {
    height: 400px;
}

.containerBio, .containerAbout {
    display: flex;
    margin: 30px
}

.imgaside img{

    width: 200px;
    margin: 20px;
 
}
     

.navbar-nav {
    margin-left: 80%;
    
}

.carousel-inner h3{
    color: #ff9900;
}

h1, h2, h4 {
    
    color: #ffd699 !important;
    text-align: center;
    font-family: 'Indie Flower', cursive !important;
    text-shadow: 1px 2px #e68a00;
   
}
.face, .twitt, .insta, .devi{
    margin: 20px;
    width: 60px;
    height: 60px;
}
.containerAbout img{
     margin: 20px;
    width: 100px;
    height: 100px;
    
}
footer{
    width: 90%;
    margin-left: 40px;
}
#map{
    width: 100vw;
    height: 30vw;
    
}



