
#carouselExampleIndicators img {
    height: 400px;
}

.containerBio, .containerAbout {
    display: flex;
    margin: 30px
}

.topPad{
    position:relative;
    top:5rem;
}

.imgaside img{

    width: 200px;
    margin: 20px;
 
}
     

.navbar-nav {
    margin-left: 80%;
    
}

.carousel-inner h3{
    color: #ff9900;
}

h1, h2, h4 {
    
    color:  #55552b !important;
    text-align: center;
    font-family: 'Comfortaa', cursive !important;
    text-shadow: 1px 1px #e6e600;
   
}
.face, .twitt, .insta, .devi{
    margin: 20px;
    width: 60px;
    height: 60px;
}
.containerAbout img{
     margin: 20px;
    width: 100px;
    height: 100px;
    
}

footer{
    width:100vw;
}

footer > p{
    margin:0;
}

#map{
    width: 100vw;
    height: 30vw;
    
}



